<form id="dynamic-form">
    <div id="account">
      <h2>Accounts</h2>
      <button id="acc-btn" type="button">Add</button>
    </div>
    <button type="submit" id="calculate-button">Update</button>
    <div id="total"></div>
    <script src="/js/form.js"></script>
  </form>