<div class="slogan">
  <img src="./PennyWise Planner-logos_transparent.png"  alt="Description of the image">

</div>
<section class="login">
            <h2>Already Have an Account? <button type="button" class="btn btn-success">Login</button> Not a Member Yet? No Worries Sign up For Free <button type="button" class="btn btn-success">Sign Up</button>

            </h2>
            
        </section>