
<h2>Good Afternoon</h2>

<section id="createNewExpense" class="card text-center">
    <div class="card-body">
        <h3 class="card-title">Add an Expense</h3>
        <form id="newExpense">
            <div class="card-text">
                <label for="Description">Description</label><br>
                <input type="text" id="description" placeholder="Description">
            </div>
            <div class="card-text">
                <label for="Amount">Amount</label><br>
                <input type="text" id="amount" step="0.01" placeholder="Amount">
            </div>
            <button class="btn btn-dark" type='submit' id="createExpense">Add Expense</button>
        </form>
    </div>
</section>

{{#if expenses.length}}
<section class="expense-list"></ul>
<h3 id="total-expenses">Here are your current expenses</h3>
{{#each expenses as |expense|}}
<div href="/api/expenses/{{expense.id}}" class="card" style="width: 100%; align-items:center; background-color: #dae1e7">
    <div class="card-body">
        <h5 class="card-title">Expense: {{expense.description}}</h5>
        <p class="card-text">Amount: {{expense.amount}}</p>

        <button class="btn btn-danger" class="delete-button" data-id="{{expense.id}}">DELETE
        </button>
    </div>
</div>
{{/each}}
</section>
{{/if}}

<script src="/js/dashboard.js"></script>
<script src="/js/delete.js"></script>
