<div class="slogan-wrap">
  <img class='slogan-bg' src="/images/logos_transparent.jpeg"  alt="Description of the image">
</div>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>

