<div class="slogan">
  <img src="/images/logos_transparent.jpeg"  alt="Description of the image">

</div>
<section class="login">
            <h2>Already Have an Account?</h2>
            {{!-- Event Listener to redirect --}}
            <button class="btn btn-dark" type="button" class="btn btn-success">Login</button>
            <h2>Not a Member Yet? No Worries Sign up For Free</h2>
            <button class="btn btn-dark" type="button" class="btn btn-success">Sign Up</button>                      
</section>

