<form class="login-form">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input id="loginUsername"type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input id="loginPass"type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button>
      <a href="/signup">Sign Up</a>
    </div>
  </form>
<script src="/js/login.js"></script>