<div class="row">
  <div class="col-md-6">
    <h2 style="margin-left: 20px">Sign-Up</h2>

    <form class="form signup-form" style="margin-left: 20px; border-style: none">
      <div class="form-group" class="container">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="signupUsername" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="signupEmail" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="signupPassword" />
      </div>
      <div class="form-group">
        <button
          class="btn btn-dark"
          type="submit"
          id="signupBtn"
        >Signup</button>
        <a href="./login">Login</a>
      </div>
    </form>

  </div>
</div>

<script src="/js/signup.js"></script>