:root {
    --mainblue: #0882ff;
    --wordoverblue: #fcf0f0;
    --elghead: #C4C5BA;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }
  body {
      font-family: var(--font-family-sans-serif);
      background: #FBFAF5;
  }
  
  header {
      background-color: var(--elghead); 
      color: var(--wordoverblue); 
      padding: 30px; 
      display: flex; 
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 100;
      border-radius: 0 0 10px 10px;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
   
  }
  
  .navbar-brand { 
      font-size: 50px; /* Increase the font size for the title */
      margin: 0;
      font-style: italic;
      text-shadow: 2px 2px 4px #878057;
      
  }
  
  .navnav {
      list-style-type: none; 
      display: flex; 
      align-items: center;
      margin: 0; 
      padding: 0; 
      font-size: 25px;
      text-shadow: 2px 2px 6px #878057;
  
     
  }
  
  .navnav li {
      margin-right: 130px;
      padding-right: 40px;
  }
  
  .navnav a {
      text-decoration: none; 
      color: #fff; 
      transition: color 0.4s ease-in-out; 
  
      
  }
  
  .navnav a:hover {
      padding: 10px;
      border-radius: 7px;
      transition:  0.4s ease-in-out; 
      font-weight: bolder;
      font-size: larger;
  }
  
  img {
      width: 25%; 
      height: auto; 
      margin: 0 auto; 
      display: block;
      padding: 40px;
  }
  
  .slogan {
  border-bottom: var(--elghead) solid 3px;
  padding: 100px;
  
  }
  
  /* CALCUALTOR */
  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0); 
     background-color: rgba(0,0,0,0.4); 
     left: 0;
     top: 0;
     }
     
     
     .modal_content {
      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      margin: 15% auto;
      width: 40%;
      border-radius: 8px;
     }
     
     .modal_content h3 {
       text-align: center;
     }
     
     .modal_content input {
       margin-bottom: 15px!important;
     }
     
     
     .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
     }
     
     .close:hover,
     .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
     }
     
     .close_btn {
       background-color: red;
       color: white;
       float: right;
       padding: 8px 10px;
       margin-bottom: 10px;
     }
     
     .modal_footer {
       padding-bottom: 20px;
     }
     
     #calculate {
       margin-left: 40%;
     }
     
     @media screen and (max-width: 768px) {
       .modal_content {
         width: 80%;
       }
     }
  
     .login  {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      margin: 20px;
      border-radius: 10px;
      box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
      background-color: #fff;
      width: 50%;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;
      text-align: center;
      font-size: 20px;
      font-weight: bolder;
      color: #000;
      font-family:Arial, Helvetica, sans-serif
  
     }
  
     .login button {
      font-weight: bold;
     }